<h3 style="color:red;">Style Binding Examples</h3>
<hr>

<p [style.color]="'green'"> <b>Example1 :</b> HTML is Hypertext Markup Language</p>

<p [style.color]="isImportant?'red':'brown'">
    <b>Example2 :</b>
    Angular is a most popular One Page Application Designing Framework
</p>

<p [style.color]="special">
    <b>Example3 :</b>
    Python is Interpreted Programming Language
</p>

<p [ngStyle]="manystyles">
    <b>Example4 :</b>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore molestias dolorum quam possimus iusto officiis
    debitis nobis voluptas, numquam laboriosam eaque, ullam magnam dicta ducimus cum fugit tempore, quis commodi!
</p>