<h3 style="color:red;">Angular Pipes Examples</h3>
<hr>

<p><b>Example 1:</b> {{ txt | lowercase}}</p>
<p><b>Example 2:</b> {{ txt | uppercase}}</p>
<p><b>Example 3:</b> {{ txt | titlecase}}</p>
<p><b>Example 4:</b> {{ txt | slice:6}}</p>
<p><b>Example 5:</b> {{ txt | slice:1:6}}</p>
<p><b>Example 6:</b> {{ product | json}}</p>
<p><b>Example 7:</b> {{ x | number:'2.2-3'}}</p>
<p><b>Example 8:</b> {{ x | number:'4.4-5'}}</p>
<p><b>Example 9:</b> {{ discount | percent}}</p>
<p><b>Example 10:</b> {{ amount | currency:'USD'}}</p>

<!-- 
    1. Pure Functions
    2. Impure Functions
 -->