<h3 style="color:red;">Event Binding Examples</h3>
<hr>


<p>
    <b>Example 1:</b>
    <input type="button" (click)="handleClick()" value="Click Here" class="btn btn-success mx-2">
</p>

<p>
    <b>Example 2:</b>
    <input type="button" (click)="clickMe($event)" value="First" class="btn btn-primary m-2 col-2">
    <input type="button" (click)="clickMe($event)" value="Second" class="btn btn-primary m-2 col-2">
    <input type="button" (click)="clickMe($event)" value="Third" class="btn btn-primary m-2 col-2">
    <input type="button" (click)="clickMe($event)" value="Fourth" class="btn btn-primary m-2 col-2">
    <input type="button" (click)="clickMe($event)" value="Fifth" class="btn btn-primary m-2 col-2">
</p>