<!-- <app-header></app-header>
<app-carousel></app-carousel> -->

<!-- <div class="container-xl"> -->
<!-- <app-interpolation></app-interpolation> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-propertybinding></app-propertybinding> -->
<!-- <app-stylebnginding></app-stylebinding> -->
<!-- <app-eventbinding></app-eventbinding> -->
<!-- <app-templateref></app-templateref> -->

<!-- <app-form1></app-form1> -->
<!-- <app-form2></app-form2> -->
<!-- <app-form3></app-form3> -->
<!-- </div> -->

<app-apiheader></app-apiheader>
<router-outlet></router-outlet>